<div class="base-frame">

    <mat-toolbar color="accent">
        <button  (click)="onToggleSideNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>



      <mat-sidenav-container style="height: 99%;">
          <mat-sidenav class="sides" [opened]="true" mode="side" #sideNavRef>
            <ul>
              <mat-list>
                <mat-list-item>Pepper</mat-list-item>
                <mat-list-item>Salt</mat-list-item>
                <mat-list-item>Paprika</mat-list-item>
               </mat-list>
            </ul>
          </mat-sidenav>
          <mat-sidenav-content (click)="closeSideBar()">
            <router-outlet />
          </mat-sidenav-content>
      </mat-sidenav-container>
</div>